.pagination{
    display: flex;
    justify-content: center;
}

.search{
    width: 1000px
}

.header{
    display: flex;
    justify-content: center;
}

.discussions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}