:global(body) {
  margin: 0;
}

.filmList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}