.pagination{
    display: flex;
    justify-content: center;
}

.articles{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.search{
    width: 1000px
}

.header{
    display: flex;
    justify-content: center;
}