.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.p1{
    font-size: 8rem;
    font-weight: 900;
    margin: 0px;
}

.p2{
    font-size: x-large;
    font-weight: 700;
    margin-top: 0px;
}

.p3{
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
}

.button{
    margin-bottom: 20px;
}

@media (max-width: 600px){
    .p1{
        font-size: 6rem;
        font-weight: 800;
    }
    .p2{
        font-size: large;
        font-weight: 700;
    } 
    .p3{
        font-size: medium;
    }  
    .container{
        width: 450px;
    }
}