.searchbar{
    width: 1000px;
}

.searchbarContainer{
    display: flex;
    justify-content: center;
}

.reviewsContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.paginationContainer{
    display: flex;
    justify-content: center;
    margin:20px 0px;
}