.commentContainer{
    display: flex;
    align-items: start;
}

.userAvatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.commentText{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    max-width: 50%;
    margin: 0px;
}

.username{
    margin-top: 0px;
    font-weight: bold;
}

.myCommentContainer{
    display: flex;
    align-items: start;
}

.myCommentText{
    background-color: rgb(24, 107, 184);
    color: white;
    border-radius: 20px;
    padding: 10px;
    max-width: 50%;
    margin: 0px;
    margin-left: auto;
    margin-right: 40px;
}
