.customInput {
    border: none;
    width: 50%;
    font-size: large;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    color: gray;
    margin-bottom: 20px;
}

.customInput:focus {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    font-family: sans-serif, Helvetica, sans-serif;
}