.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 30px;
    
}

.p2{
    font-size: x-large;
    font-weight: 700;
    margin-top: 0px;
}

.p3{
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
}


@media (max-width: 600px){
    .p2{
        font-size: large;
        font-weight: 700;
    } 
    .p3{
        font-size: medium;
    }  
    .container{
        width: 450px;
    }
}