.navbarContainer {
    background-color: white;
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbarLogo {
    width: 200px;
    height: auto;
    margin: 10px;
}

.navbarItemsContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    width: fit-content;  
    height: 80px;  
}

.avatarPlaceholder {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.navbarItem {
    font-size: x-large;

    font-weight: bold;
    text-decoration: none;
    color: black;
    flex: 1;
    display: flex;        
    align-items: center;
    padding: 10px 20px;     
}

.highlited {

    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(
        90deg,
        rgba(224, 85, 85, 1) 20%,
        rgba(237, 147, 78, 1) 75%,
        rgba(240, 175, 96, 1) 100%
    ); 
    padding-bottom: 6px;
    border-image-slice: 1;
}

.logoutButton{
    background-color: white;
    border: none;
    font-size: x-large;
    font-weight: bold;
    padding: 10px 20px; 
    cursor: pointer;
}

@media (max-width: 850px) {
    .navbarContainer {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .navbarLogo {
        width: 150px;
        height: auto;
        margin: 10px;
    }   
    .navbarItem {
        font-size: large;
        padding: 0 10px;
    }

    .logoutButton{
        font-size: large;
        padding: 0px 10px; 
    }
}
