.searchbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    position: relative; 
}

.search {
    font-size: large;
    background-color: white;
    width: 50%;
    margin: 0 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 40px;
    background-image: url("/icons/search.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 20px;
}

.filterWrapper {
    position: relative; 
    display: inline-block;
}

.filter {
    font-size: large;
    background-color: white;
    margin: 0 10px;
    outline: none;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.sort {
    font-size: large;
    background-color: white;
    margin: 0 10px;
    outline: none;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
}

.filterMenuWrapper {
    position: absolute;
    top: 110%; 
    left: 0;
    z-index: 100;
}

.sortWrapper {
  position: relative;
  display: inline-block;
}