.discussionCard {
    background-color: lightgray;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}

.discussionTitle {
    font-size: x-large;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.discussionUser {
    display: flex;
    align-items: center;
}

.discussionUser img {
    width: 40px;

    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.discussionComments {
    display: flex;
    align-items: center;
    
}

.discussionComments img {
    width: 32px;
    height: 32px;
}

.discussionBottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}


