.genres{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;
}

.genres:active {
  cursor: grabbing;
}

.genres::-webkit-scrollbar {
  display: none; 
}