.container{
    background-color: white;
    display: flex;
    width: 520px;
    padding: 20px;
    border-radius: 10px;
}
.filmContainer{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.filmContainerP{
    width: 150px;
    font-size: large;
    text-align: center;
}
.commentsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infoContainer{
    display: flex;
    flex-direction: column;
}
.filmContainerImg{
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.userInfoImg{
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.commentsInfoImg{
    width: 30px;
    height: 30px;
}
.userInfo{
    display:flex;
    align-items: center;
}
.commentsInfo{
    display: flex;
    align-items: center;
}
.comment{
    margin-bottom: 5px;
}
.commentsContainerP{
    font-size: x-large;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
}
.commentsInfoP{
    font-size: large;
    margin: 0px;
}
.userInfoP{
    margin:0px;
    font-size: large;
}

.link{
    text-decoration: none;
    color: inherit;
}

.commentsInfoUsers{
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.commentsInfoMessages{
    display: flex;
    margin-right: 10px;
    align-items: center;

}
