.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  position: relative;
}

.movieCard {
  display: flex;
  width: 450px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1; 
}

.posterContainer {
  width: 40%;
  overflow: hidden;
}

.posterContainerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.movieInfo {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.movieTitle {
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.ratingImg {
  width: 30px;
  height: 30px;
}

.ratingMark{
    font-size: x-large;
}

.reviewContainer {
  position: relative;
  z-index: 2; 
  margin-top: -120px;
  margin-left: 170px;
  transition: all 0.3s ease;
}

@media (max-width: 600px) {
  .reviewContainer {
    margin-top: -40px;
    margin-left: 40px;
  }
}

.link{
    text-decoration: none;
    color: inherit;
}
