.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: fixed;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease;
}

.container{
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    width: 500px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 0.3s ease;
}

.containerP{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.buttons{
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

