.reviews {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.reviews:active {
  cursor: grabbing;
}

.reviewLink {
  flex-shrink: 0;
  text-decoration: none;
  color: black;
}

